<header id="header" class="animated fadeInDown">
  <div id="logo-group">  <a routerLink="/auth/login">
    <span id="logo"> <img src="assets/img/cost.jpg" alt="Cost Management"> </span></a>
  </div>
  <!-- <div class="col-sm-4 col-md-5 col-lg-7 col-xs-8 pull-right">
    <div class="pull-right toll">
      <div class="toll_number"><i class="fa fa-phone color-orange phone"></i> <span class="hidden-xs">Toll Free Number</span> <span class="toll_number num color-orange"> 7666555560 </span></div>
    </div>
  </div> -->
  <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a routerLink="/auth/distributor-authentification" class="btn btn-danger">Create account</a> </span> -->
</header>
<div id="main" role="main" class="animated fadeInDown">
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <div style="border:2px solid #CCC;">
          <carousel [interval]="state.carousel.demo1.interval" [noWrap]="state.carousel.demo1.noWrap">
            <slide *ngFor="let slide of state.carousel.demo1.slides; let i = index" [active]="slide.active" style="height:382px;">
              <img [src]="slide.src" style="margin:auto;">
              <!-- <div class="carousel-caption">
                    <h4>Slide {{i}}</h4>

                    <p>{{slide.text}}</p>
                  </div> -->
            </slide>
          </carousel>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form class="smart-form client-form" name="loginForm" #loginForm="ngForm" (ngSubmit)="login($event,loginForm)" ngNativeValidate>
            <header> Sign In </header>
            <fieldset>
              <!-- <section>
                <label class="label">User Code</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" name="SAPId" data-smart-validate-input="" data-required="" data-message-required="Please enter Dist Code"
                    data-message-email="Please enter a VALID Distributor  Code" ngModel >
                </label>
              </section> -->
              <section>
                <label class="label">E-mail ID</label>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="EmailId" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address"
                    data-message-email="Please enter a VALID email address" ngModel minlength="6" autocomplete="on" email >
                </label>
              </section>
              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="Password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password" ngModel
                    minlength="6" autocomplete="off" >
                </label>
                <div class="note">
                  <a routerLink="/auth/forgot-password">Forgot password?</a>
                </div>
              </section>
              <!-- <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Stay signed in</label>
              </section> -->
            </fieldset>
            <footer>
              <!-- <button  class="btn btn-primary">
                Sign in
              </button> -->
           <a routerLink="/dashboard">  <button class="btn btn-primary" type="submit" [disabled]="!loaderbtn">
                <i class="fa fa-fw" [ngClass]="{'fa-cog fa-spin':!loaderbtn}" *ngIf="!loaderbtn"></i> {{loaderbtn==true? 'Sign In':'Loading'}}</button>
              </a>   </footer>
          </form>
        </div>
        <!-- <h5 class="text-center"> - Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
<div class="page-footer" style="background: #f4f4f4!important;color:#332c2c !important;border-top:none;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class=" text-center">635/1B, New Gajara Society, Above Canara Bank, Bibvewadi, Pune, Maharashtra, India - 411037</span>
    </div>
  </div>
</div>