<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true"
          minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Payment Details</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row">
                  <div class="col-sm-12" *ngIf="project.TranNo!=null" style="font-size:14px;margin-top: 11px;">
                      <label style="margin-right:20px;"><strong>Trans No. : <span class="text-primary">{{project.DispTranNo}}</span></strong></label>
                      <label><strong>Trans Date : <span class="text-primary">{{project.TranDate}}</span></strong></label>
                      </div>
              </div>
              <form name="paymentForm" #paymentForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Site <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.SiteId" name="SiteId" (change)="onSelectSite()"
                        [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Site </option>
                        <option [value]="des.SiteId" *ngFor="let des of SiteData">{{des.SiteName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Project <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.ProjectId" name="ProjectId"
                        (change)="onSelectProject('')" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Project </option>
                        <option [value]="des.ProjectId" *ngFor="let des of ProjectData">{{des.ProjectName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <!-- <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Contractor <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.VendorId" name="VendorId"
                        (change)="onSelectVendor()"  [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Contractor </option>
                        <option [value]="des.VendorId" *ngFor="let des of VendorData">{{des.VendorName}}
                        </option>
                      </select>
                    </div>
                  </div> -->
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Select Weekly Payout <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.RefTranNo" name="RefTranNo"
                        (change)="onSelectInvoice();onSelectProject(project.RefTranNo)"  [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Payout </option>
                        <option [value]="des.TranNo" *ngFor="let des of InvoiceData">{{des.DispTranNo}}
                      </select>
                    </div>
                  </div>
                  <!-- <div class="col-sm-2">
                    <div class="form-group">
                      <label>Invoice No. <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Invoice No. " disabled
                        [(ngModel)]="project. VendorInvoiceNo" name="VendorInvoiceNo" saCommonDir dirType="alphanumeric"
                        required />
                    </div>
                  </div> -->

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Invoice Date <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Invoice Date"
                        [(ngModel)]="project.InvoiceDate" id="InvoiceDate" name="InvoiceDate" onkeydown="return false"
                        bsDatepicker [bsConfig]="datePickerConfig" disabled required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Payment Date <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Payment Date"
                        [(ngModel)]="project.PaymentDate" id="PaymentDate" name="PaymentDate" onkeydown="return false"
                        bsDatepicker [bsConfig]="datePickerConfig" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Payment Amount <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Payment Amount " disabled
                        [(ngModel)]="project.TotAmount" name="TotAmount" saCommonDir dirType="decimal" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sel1">Payment Mode <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.PayMode" name="PayMode" required>
                        <option value="" selected hidden> Select Mode </option>
                        <option value="101">Cheque</option>
                        <option value="102">RTGS </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2" *ngIf="project.PayMode==101">
                    <div class="form-group">
                      <label>Cheque <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Cheque No. "
                        [(ngModel)]="project.ChequeNo" name="ChequeNo" saCommonDir dirType="number" required />
                    </div>
                  </div>
                  <div class="col-sm-2" *ngIf="project.PayMode==102">
                    <div class="form-group">
                      <label>RTGS No. <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter RTGS  No." [(ngModel)]="project.RTGSNo"
                        name="ChequeNo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-12" >
                    <div class="form-group">
                      <label>Remark
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Remark" [(ngModel)]="project.Remark"
                        name="Remark"  />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                              <tr align="center" class="text-center">
                                <th class="text-center">#</th>
                                <th>Labour Name</th>
                                <th>Activity Type </th>
                                <th>Ativity </th>
                                <th>Work Description </th>
                                <th class="text-center">Start Date</th>
                                <th class="text-center">In Time</th>
                                <th class="text-center">End Date</th>                               
                                <th class="text-center">Out Time</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Unit</th>
                                <th class="text-center">Rate</th>
                                <th class="text-center">Amount</th>
                              </tr>
    
                            </thead>
                            <tbody>
                                <tr *ngFor="let mat of MaterialArray;index as i">
                                <td class="text-center"><span (onload)="check(i)">{{i+1}}.</span></td>
                                <td><strong>{{mat.LabourName}}</strong></td>
                                <td ><span *ngIf="mat.show">{{mat.TypeName}}</span></td>  
                                <td>{{mat.WorkName}}</td>
                                <td >{{mat.WorkDescription}}</td>
                                <td class="text-center">{{mat.StartDate}}</td>
                                <td class="text-center">{{mat.DispStartTime}}</td>
                                <td class="text-center">{{mat.EndDate}}</td>
                                <td class="text-center">{{mat.DispEndTime}}</td>
                                <td class="text-center">{{mat.Qty}}</td>
                                <td class="text-center">{{mat.UOM}}</td>
                                <td class="text-center">{{mat.Rate}}</td>
                                <td class="text-center">{{mat.TotalAmount}}</td>
                                                        </tr>
    
    
                            </tbody>
                          </table>
                    </div>
                    <!-- <div class="form-group  pull-right">
                      <button class="btn btn-block btn-warning ">
                          <i class="glyphicon glyphicon-plus"></i>
                          Add For Weekly Payout
                      </button>
                  </div> -->
                  </div>
                </div>

                <!-- <div class="row">
                  <div class="col-sm-6">
                    <label>
                      <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" name="IsActive"
                        [(ngModel)]='project.IsActive' /> Is Active </label>
                  </div>
                </div> -->
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/project/dw-payment-details-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit"  [disabled]="!loaderbtn || MaterialArray.length==0">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i>
                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>