<!-- MAIN CONTENT -->
<div id="content">  
    <sa-widgets-grid>
      <div class="row">
        <article class="col-sm-12">    
          <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
              <header class="text-center">  
              <h2><i class="fa fa-database"></i> Sub Menu - Level 3</h2>
            </header>
            <div>
              <div class="widget-body">
                  <div class="row ">
                      <div class="col-sm-12">
                          <div class="form-group  pull-right">
                              <a routerLink="/setting/submenuL3" class="btn btn-block btn-warning ">
                                  <i class="glyphicon glyphicon-plus"></i>
                                  Add
                              </a>
                          </div>
                      </div>
                      <div class="col-sm-12 table-responsive">
                          <ui-grid [data]="SubMenuData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)"></ui-grid>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </sa-widgets-grid>
  </div>
  