<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Employee Master</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row ">
                  <form name="employeeForm" #employeeForm="ngForm" (ngSubmit)="onSelectDesignation()" autocomplete="off" ngNativeValidate>
                <!-- <div class="col-sm-2 col-xs-8">
                  <div class="form-group">
                      <select class="form-control"  [(ngModel)]="designation" name="designation" required>
                          <option value="" selected hidden> Select Designation </option>
                          <option [value]="des.RoleCode" *ngFor="let des of designationData">{{des.RoleDesc}}</option>
                       </select>                 
                  </div>
                </div>
                <div class="col-sm-1 col-xs-4">
                  <div class="form-group">
                      <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-search':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Get Details':'Loading'}}</button>
                  </div>
                </div> -->
                </form>
                <div class="col-sm-12 ">
                <div class="form-group  pull-right">
                  <a routerLink="/master/employee" class="btn btn-block btn-warning get_details pull-right">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Employee
                  </a>
                </div>
              </div>
                <div class="col-sm-12  table-responsive">
                    <ui-grid [data]="empData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)"></ui-grid>
                </div>
              </div>
            </div>
          </div>
        </div>




      </article>
    </div>


  </sa-widgets-grid>
</div>