<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
      <div class="row">
          <article class="col-sm-8 col-sm-offset-2">
              <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
                  <header class="text-center">
                      <h2>
                          <i class="fa fa-database"></i> Main Menu - level 1</h2>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form name="siteForm" #siteForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" ngNativeValidate>
                              <div class="row">
                                  <div class="col-sm-3">
                                      <div class="form-group">
                                          <label>Flag<span class="errorMessage">*</span>
                                          </label>
                                          <input type="text" class="form-control" placeholder="Enter Flag " [(ngModel)]="Menu.MenuFlag" name="MenuFlag" saCommonDir
                                              dirType="alphanumeric" required />
                                      </div>
                                  </div>
                                <div class="col-sm-9">
                                  <div class="form-group">
                                    <label for="sel1">Main Menu Name<span class="errorMessage">*</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter Main Menu Name " [(ngModel)]="Menu.MenuName" name="MenuName" saCommonDir
                                              dirType="alphanumeric" required />
                                  </div>
                                </div>
                                
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <label>
                                          <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" name="IsActive" [(ngModel)]='Menu.IsActive' /> Is Active </label>
                                  </div>
                              </div>
                              <footer>
                                  <div class="row">
                                      <div class="col-sm-12 ">
                                          <hr />
                                          <a class="pull-right btn btn-default" routerLink="/setting/mainmenu-list">
                                              <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                                          <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn">
                                              <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Submit':'Loading'}}</button>
                                      </div>
                                  </div>
                              </footer>
                          </form>
                      </div>
                  </div>
              </div>
          </article>
      </div>
  </sa-widgets-grid>
</div>