<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-6 col-sm-offset-3">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-lock"></i> Change Password</h2>
          </header>
          <div>
            <div class="widget-body">
              <form name="passForm" #passForm="ngForm" autocomplete="off" ngNativeValidate>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group" [class.has-error]="CurrentPassword.touched && CurrentPassword.invalid">
                      <label>Current Password <span class="errorMessage">*</span>
                      </label>
                      <input type="password" autocomplete="off" class="form-control" placeholder="Enter Current Password" #CurrentPassword="ngModel" name="CurrentPassword"
                        [(ngModel)]="pass.CurrentPassword" saCommonDir (input)="checkingCurrentPassword()" required />
                      <span class="help-block" *ngIf="CurrentPassword.touched && CurrentPassword.errors?.required">Current Password is required</span>
                      <span class="help-block" *ngIf="errorMsg && CurrentPassword.touched && !CurrentPassword.errors?.required">Current Password is Wrong</span>
                    </div>
                  </div>
                  <!-- <div class="div" ngModelGroup="passwordGroup"
                                   [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required">      </div>-->
                  <div class="col-sm-12">
                    <div class="form-group" [class.has-error]="password.touched && password.invalid">
                      <label for="password">New Password <span class="errorMessage">*</span>
                      </label>
                      <input type="password" class="form-control" placeholder="Enter New Password" #password="ngModel" name="password" [(ngModel)]="pass.password" saCommonDir
                        appPassNotEqualValidator="CurrentPassword" (input)="confirmPassword.control.updateValueAndValidity()" autocomplete="off" required />
                      <span class="help-block" *ngIf="password.touched && password.errors?.required">Password is required</span>
                      <span class="help-block" *ngIf="password.touched && password.errors?.Equal ">New Password is same as Current Password </span>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                      <label>Confirm Password <span class="errorMessage">*</span>
                      </label>
                      <input type="password" class="form-control" placeholder="Enter Confirm Password" #confirmPassword="ngModel" name="confirmPassword" [(ngModel)]="pass.confirmPassword" saCommonDir
                        autocomplete="off" appConfirmEqualValidator="password" required />
                      <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password is required</span>
                      <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">Password and Confirm Password does not
                        match</span>
                    </div>
                  </div>
                </div>
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <!-- <a class="pull-right btn btn-default" routerLink="/master/sub-area-master">
                                              <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a> -->
                      <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>