<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true"
          minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Invoice Details</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row" >
                  <div class="col-sm-6" *ngIf="project.TranNo!=null" style="font-size:14px;margin-top: 11px;">
                      <label style="margin-right:20px;"><strong>Trans No. : <span class="text-primary">{{project.DispTranNo}}</span></strong></label>
                      <label><strong>Trans Date : <span class="text-primary">{{project.TranDate}}</span></strong></label>
                      </div>
                <div class="col-sm-6" *ngIf="TranExists.length>0">
                  <button type="button" class="btn btn-danger pull-right btn-lg" data-toggle="modal" data-target="#TransactionModal">Access Denied, Next Transaction Exists </button>
                </div>
              </div>
              <form name="invoiceForm" #invoiceForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Site <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.SiteId" name="SiteId" (change)="onSelectSite()"
                        [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Site </option>
                        <option [value]="des.SiteId" *ngFor="let des of SiteData">{{des.SiteName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Project <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.ProjectId" name="ProjectId"
                        (change)="onSelectProject('')" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Project </option>
                        <option [value]="des.ProjectId" *ngFor="let des of ProjectData">{{des.ProjectName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Contractor <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.ContractorId" name="ContractorId"
                        (change)="onSelectVendor()" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Contractor </option>
                        <option [value]="des.ContractorId" *ngFor="let des of VendorData">{{des.ContractorName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Work Contract <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.RefTranNo" name="RefTranNo"
                        (change)="onSelectProject(project.RefTranNo)" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Work Contract </option>
                        <option [value]="des.TranNo" *ngFor="let des of GRNArray">{{des.DispTranNo}}
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Invoice No. <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Invoice No. "
                        [(ngModel)]="project.ContractorInvoiceNo" name="ContractorInvoiceNo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Invoice Date <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Date" [(ngModel)]="project.ContractorInvoiceDate"
                        id="ContractorInvoiceDate" name="ContractorInvoiceDate" onkeydown="return false" bsDatepicker
                        [bsConfig]="datePickerConfig" required />
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label>Remark
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Remark " [(ngModel)]="project.Remark"
                        name="Remark" />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr align="center" class="text-center">
                            <th  class="text-center">#</th>
                            <th >Activity Type</th>
                            <th >Work Contract/Activity</th>
                            <th  class="text-center">Quantity</th>
                            <th class="text-center">Unit</th>
                            <th  class="text-center">Rate</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">IGST %</th>
                            <th class="text-center">SGST %</th>
                            <th class="text-center">CGST %</th>
                            <th class="text-center">IGST Amount</th>
                            <th class="text-center">SGST Amount</th>
                            <th class="text-center">CGST Amount</th>
                            <th class="text-center">Total Amount </th> 
                            <th class="text-center">Action </th> 
                          </tr>

                        </thead>
                        <tbody>
                          <tr *ngFor="let mat of MaterialArray;index as i">
                            <td class="text-center">{{i+1}}.</td>
                            <td ><strong *ngIf="mat.show">{{mat.TypeName}}</strong></td>                         
                            <td>{{mat.WorkName}}</td>
                            <!-- <td class="text-center">{{mat.Qty==0?'':mat.Qty}}</td> -->
                            <td> <input type="text" class="form-control" style="width: 60px;" placeholder=" Qty "
                              [(ngModel)]="mat.Qty" #nameControl="ngModel" name="Qty_{{i}}" (ngModelChange)="onQtyChange(mat,i)"
                              required /> </td>
                            <td class="text-center">{{mat.UOM}}</td>
                            <td class="text-center">{{mat.Rate}}</td>
                            <td class="text-center">{{mat.Amount}}</td>
                            <td class="text-center">{{mat.IGST}}</td>
                            <td class="text-center">{{mat.SGST}}</td>
                            <td class="text-center">{{mat.CGST}}</td>
                            <td class="text-center">{{mat.IGSTAmount}}</td>
                            <td class="text-center">{{mat.SGSTAmount}}</td>
                            <td class="text-center">{{mat.CGSTAmount}}</td>
                            <td class="text-center">{{mat.TotalAmount}}</td>
                            <td class="text-center">
                              <a class="btn btn-xs btn-danger action-btn" (click)=onRemoveMaterial(mat,i)>Remove</a>
                            </td>
                          </tr>
                          
                          <tr>
                            <td colspan="6" class="text-right"><strong>TOTAL</strong></td>
                            <td class="text-center"><strong>{{project.TotalAmtCost}}</strong>  </td>
                            <td></td>    <td></td>    <td></td>
                            <td class="text-center"><strong>{{project.TotIGSTCost}}</strong>  </td>
                            <td class="text-center"><strong>{{project.TotSGSTCost}}</strong>  </td>
                            <td class="text-center"><strong>{{project.TotCGSTCost}}</strong>  </td>
                            <td colspan="2" class="text-center"><strong>{{project.TotProjectCost}}</strong>  </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/project/wc-invoice-details-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit"  [disabled]="!loaderbtn || MaterialArray.length==0"  *ngIf="TranExists.length==0">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i>
                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<!-- Modal -->
<div class=" modal fade" id="TransactionModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Transaction Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <div class="refill">
              <div class="row">
                         <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Transaction No.</th>
                          <th>Transaction Date</th>
                          <th>Transaction Name</th>
                          <th>Created By</th>
                          <th>Updated By</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pr of TranExists;index as i">
                          <td>{{i+1}}</td>
                          <td>{{pr.DispTranNo}}</td>
                          <td>{{pr.TranDate}}</td>
                          <td>{{pr.TranShortName}}</td>
                         <td >{{pr.CreatedByName}}</td>
                          <td >{{pr.UpdatedByName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       <!-- <button type="button" *ngIf="stock.IsDispatch == 'Y' && stock.OrderStage!='CA' && stock.OrderStage!='RJ'" (click)="DispatchOrder('AC')" class="btn btn-success">Accept</button>
        <button type="button" *ngIf="stock.IsDispatch == 'Y' && stock.OrderStage!='CA' && stock.OrderStage!='RJ'" (click)="DispatchOrder('RJ')" class="btn btn-danger">Reject</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>