<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true"
          minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Material Issue Slip </h2>
          </header>
          <div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-sm-12" *ngIf="project.TranNo!=null" style="font-size:14px;margin-top: 11px;">
                        <label style="margin-right:20px;"><strong>Trans No. : <span class="text-primary">{{project.DispTranNo}}</span></strong></label>
                        <label><strong>Trans Date : <span class="text-primary">{{project.TranDate}}</span></strong></label>
                        </div>
                </div>
              <form name="transportForm" #transportForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sel1">Site <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="project.SiteId" name="SiteId" (change)="onSelectSite(project.SiteId,'S')"  [disabled]="project.TranNo!=null" required>
                            <option value="" selected hidden> Select Site </option>
                            <option [value]="des.SiteId" *ngFor="let des of SiteData">{{des.SiteName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sel1">Project <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="project.ProjectId" name="ProjectId" (change)="onSelectProject('','')"  [disabled]="project.TranNo!=null"  required>
                            <option value="" selected hidden> Select Project </option>
                            <option [value]="des.ProjectId" *ngFor="let des of ProjectData">{{des.ProjectName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="form-group">
                            <label for="sel1">Vendor <span class="errorMessage">*</span>
                            </label>
                            <select class="form-control"  (change)="onSelectVendor()" [(ngModel)]="project.VendorId" name="VendorId" [disabled]="project.TranNo!=null"  required>
                              <option value="" selected hidden> Select Vendor </option>
                              <option [value]="des.VendorId" *ngFor="let des of VendorData">{{des.VendorName}}
                              </option>
                            </select>
                          </div>
                        </div>
                      <!-- <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sel1">Project Executive <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="project.ProjectExecutiveId" name="ProjectExecutiveId"  [disabled]="project.TranNo!=null" required>
                            <option value="" selected hidden> Select Engineer </option>
                            <option [value]="des.ProjectExecutiveId" *ngFor="let des of ExecutiveData">{{des.ExecutiveName}}
                            </option>
                          </select>
                        </div>
                      </div> -->
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sel1">Select GRN <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="project.RefTranNo" name="RefTranNo" (change)="onSelectProject('',project.RefTranNo)"  [disabled]="project.TranNo!=null" required>
                            <option value="" selected hidden> Select GRN </option>
                            <option [value]="des.TranNo" *ngFor="let des of GRNArray">{{des.DispTranNo}}
                            </option>
                          </select>
                        </div>
                      </div>
                </div>
                <form name="materialForm" #materialForm="ngForm" (ngSubmit)="addMaterial()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                          <label for="sel1">Material Type<span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="Material.TypeId" name="TypeId"
                          (change)="onSelectActivityMaterial()"   [disabled]="Material.index!=null" required >
                            <option value="" selected hidden> Select Type </option>
                            <option [value]="des.TypeId" *ngFor="let des of AMTypeData">{{des.TypeName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="sel1">Material <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="Material.MatId" name="MatId"
                          (ngModelChange)="onSelectMaterial()" [disabled]="Material.index!=null" required>
                            <option value="" selected hidden> Select Material </option>
                             <option [value]="des.MatId" *ngFor="let des of filterMaterialArray">{{des.MatName}}
                            </option>
                          </select>
                        
                        </div>
                      </div> 
                      <div class="col-sm-1">
                        <div class="form-group">
                          <label>Qty <span class="errorMessage">*</span>
                          </label>
                          <input type="text" class="form-control" placeholder="Enter Qty " [(ngModel)]="Material.UQty"
                            name="UQty" saCommonDir dirType="number" required/>
                        </div>
                      </div>
                      <div class="col-sm-1">
                        <div class="form-group">
                          <label>Unit <span class="errorMessage">*</span>
                          </label>
                          <input type="text" class="form-control" placeholder="Enter Unit " [(ngModel)]="Material.UOM"
                            name="UOM" saCommonDir dirType="alphanumeric" required disabled/>
                        </div>
                      </div>
                  <div class="col-sm-1">
                    <div class="form-group">
                        <label>&nbsp; </label>
                        <button class="btn btn-block btn-warning ">
                            <i class="glyphicon glyphicon-plus"></i> Add </button>
                    </div>
                </div>

                <div class="col-sm-12">
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                            <tr align="center" class="text-center">
                              <th class="text-center">#</th>
                              <th>Material Type</th>
                              <th>Material</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Unit</th>
                              <!-- <th class="text-center">Rate</th>
                              <th class="text-center">Amount</th>
                              <th class="text-center">IGST(%)</th>
                              <th class="text-center">SGST(%)</th>
                              <th class="text-center">CGST(%)</th>
                              <th class="text-center">IGST Amount	</th>
                              <th class="text-center">SGST Amount	</th>
                              <th class="text-center">CGST Amount	</th>
                              <th class="text-center">Total Amount</th> -->
                              <th class="text-center">Action</th>
                            </tr>
                         
                          </thead>
                          <tbody>
                            <tr *ngFor="let mat of MaterialArray;index as i">
                              <td  class="text-center">{{i+1}}.</td>
                              <td ><strong *ngIf="mat.show">{{mat.TypeName}}</strong></td>                         
                              <td>{{mat.MatName}}</td>
                              <td class="text-center">{{mat.Qty==0?'':mat.Qty}}</td>
                              <td class="text-center">{{mat.UOM}}</td>
                              <!-- <td class="text-center">{{mat.Rate}}</td>
                              <td class="text-center">{{mat.Amount}}</td>
                              <td class="text-center">{{mat.IGST}}</td>
                              <td class="text-center">{{mat.SGST}}</td>
                              <td class="text-center">{{mat.CGST}}</td>
                              <td class="text-center">{{mat.IGSTAmount}}</td>
                              <td class="text-center">{{mat.SGSTAmount}}</td>
                              <td class="text-center">{{mat.CGSTAmount}}</td>
                              <td class="text-center">{{mat.TotalAmount}}</td> -->
                              <td class="text-center">
                                <a class="btn btn-xs btn-danger action-btn" (click)=onRemoveMaterial(mat,i)>Remove</a>
                                <!-- <a class="btn btn-xs btn-primary action-btn" (click)=onEdit(mat,i)>Edit</a> -->
                              </td>
                            </tr>  
                            <!-- <tr>
                              <td colspan="6" class="text-right"><strong>TOTAL</strong></td>
                              <td class="text-center"><strong>{{project.TotalAmtCost}}</strong>  </td>
                              <td></td>    <td></td>    <td></td>
                              <td class="text-center"><strong>{{project.TotIGSTCost}}</strong>  </td>
                              <td class="text-center"><strong>{{project.TotSGSTCost}}</strong>  </td>
                              <td class="text-center"><strong>{{project.TotCGSTCost}}</strong>  </td>
                              <td colspan="2" class="text-center"><strong>{{project.TotProjectCost}}</strong>  </td>
                            </tr> -->
                          </tbody>
                      </table>
                  </div>
              </div>

                </div>
                </form>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Material Carrying Person <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Person Name " [(ngModel)]="project.CarryingPerson"
                        name="CarryingPerson" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                        <label> Date <span class="errorMessage">*</span>
                        </label>
                          <input type="text" class="form-control" placeholder="Enter Date" bsDatepicker [(ngModel)]="project.CarryingDate" name="CarryingDate" id="startDate"
                          onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" />
                      </div>
                    </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <!-- <label>Time <span class="errorMessage">*</span>
                      </label> -->
                      <timepicker [(ngModel)]="project.CarryingTime" name="CarryingTime"></timepicker>
                      <!-- <input type="text" class="form-control" placeholder="Enter Time " [(ngModel)]="transport.Time"
                        name="Time" saCommonDir dirType="alphanumeric" required /> -->
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sel1">Issue Site <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.IssueSiteId" name="IssueSiteId"
                        (change)="onSelectSite(project.IssueSiteId,'R')"  required>
                        <option value="" selected hidden> Select Issue Site </option>
                        <option [value]="des.SiteId" *ngFor="let des of IssueSiteData">{{des.SiteName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sel1">Issue Project<span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.IssueProjectId" name="IssueProjectId"
                         required>
                        <option value="" selected hidden> Select Issue Project </option>
                        <option [value]="des.ProjectId" *ngFor="let des of IssueProjectData">{{des.ProjectName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/project/material-issue-slip-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit"  [disabled]="!loaderbtn || MaterialArray.length==0">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i>
                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>