<aside id="left-panel">
  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->
  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->
    <ul  saSmartMenu>
      <!-- <li >
        <a title="Dashboard" routerLink="/dashboard/analytics">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Dashboard</span>
        </a>
      
      </li> -->
      <li formflag="MASTR" >
        <a title="Master">
          <i class="fa fa-lg fa-fw fa-database"></i>
          <span class="menu-item-parent">Master</span>
        </a>
        <ul>
          <li formflag="MEMMA" routerLinkActive="active">
            <a routerLink="/master/employee-master">Employee Master</a>
          </li>
          <li formflag="MDSMA" routerLinkActive="active">
            <a routerLink="/master/designation-master">Designation Master</a>
          </li>
          <li formflag="MDPMA" routerLinkActive="active">
            <a routerLink="/master/department-master">Department Master</a>
          </li>
          <li formflag="MDPMA" routerLinkActive="active">
            <a routerLink="/master/connection-type-master">Connection Type Master</a>
          </li>
          <li formflag="MDPMA" routerLinkActive="active">
            <a routerLink="/master/unit-master">Unit Master</a>
          </li>
          <li formflag="MDPMA" routerLinkActive="active">
            <a routerLink="/master/district-master">District Master</a>
          </li>
          <li formflag="MDPMA" routerLinkActive="active">
            <a routerLink="/master/taluka-master">Taluka Master</a>
          </li>
          <li formflag="MDPMA" routerLinkActive="active">
            <a routerLink="/master/city-master">City Master</a>
          </li>
          <li formflag="MDPMA" routerLinkActive="active">
            <a routerLink="/master/agent-master">Agent Master</a>
          </li>
        
        </ul>
      </li>
      <!-- <li formflag="PROJE" style="display: none;">
        <a title="Project">
          <i class="fa fa-lg fa-fw fa-building"></i>
          <span class="menu-item-parent">Project</span>
        </a>
        <ul>
          <li formflag="PRBDG" routerLinkActive="active">
            <a routerLink="/project/project-budget-list">Project Budget</a>
          </li>
        </ul>
         
      </li>
      <li  formflag="MATRL" style="display: none;">
        <a title="Material">
          <i class="fa fa-lg fa-fw fa-cubes"></i>
          <span class="menu-item-parent">Material</span>
        </a>
        <ul>
          <li  formflag="MATRI" routerLinkActive="active">
            <a routerLink="/project/raise-indent-list">Raise Indent</a>
          </li>
          <li  formflag="MATGP" routerLinkActive="active">
            <a routerLink="/project/generate-po-list">Generate PO</a>
          </li>
          <li  formflag="MTGRN" routerLinkActive="active">
            <a routerLink="/project/grn-list">GRN</a>
          </li>
          <li   formflag="MTINV" routerLinkActive="active">
            <a routerLink="/project/m-invoice-details-list">Invoice Details</a>
          </li>
          <li  formflag="MTPMD" routerLinkActive="active">
            <a routerLink="/project/payment-details-list">Payment Details</a>
          </li>
          <li  formflag="MTISL" routerLinkActive="active">
            <a routerLink="/project/material-issue-slip-list">Material  Issue Slip</a>
          </li>
        </ul>
      </li>
      <li formflag="LBUR" style="display: none;">
        <a title="Labour">
          <i class="fa fa-lg fa-fw fa-users"></i>
          <span class="menu-item-parent">Labour</span>
        </a>
        <ul>
          <li  formflag="LBWC" routerLinkActive="active">
            <a routerLink="/project/labour-contract-list">Work Contract</a>
          </li>
          <li   formflag="LBINV" routerLinkActive="active">
            <a routerLink="/project/wc-invoice-details-list">Invoice Details</a>
          </li>
          <li formflag="LBPYD" routerLinkActive="active">
            <a routerLink="/project/wc-payment-details-list">Payment Details</a>
          </li>
        </ul>
      </li>
      <li formflag="DLWG" style="display: none;">
        <a title="Daily Wadges">
          <i class="fa fa-lg fa-fw fa-rupee"></i>
          <span class="menu-item-parent">Daily Wages</span>
        </a>
        <ul>
          <li formflag="DWLPD"  routerLinkActive="active">
            <a routerLink="/project/labour-work-payment-details-list">Labour Daily Work Details</a>
          </li>
             <li formflag="DWWPL" routerLinkActive="active">
            <a routerLink="/project/weekly-payout-list">Weekly Payout List</a>
          </li>
          <li  formflag="DWPYD" routerLinkActive="active">
            <a routerLink="/project/dw-payment-details-list"> Payment Details</a>
          </li>
             </ul>
      </li>
      
      <li formflag="RPRT" style="display: none;">
        <a title="Report">
          <i class="fa fa-lg fa-fw fa-file"></i>
          <span class="menu-item-parent">Report</span>
        </a>
        <ul>
          <li formflag="RPPBS" routerLinkActive="active">
            <a routerLink="/report/costing-of-project">Project Budget Status</a>
          </li>
          <li  formflag="RPINS" routerLinkActive="active">
            <a routerLink="/report/pending-indents">Indent Status </a>
          </li>
          <li formflag="RPPOS"  routerLinkActive="active">
            <a routerLink="/report/pending-po"> PO Status</a>
          </li>
          <li formflag="RPIPS" routerLinkActive="active">
            <a routerLink="/report/pending-payment">Invoice And Payment Status</a>
          </li>
          <li formflag="RPMTS" routerLinkActive="active">
            <a routerLink="/report/pending-material">Material Status</a>
          </li>
        </ul>
      </li>  

      <li formflag="SETTG" style="display: none;">
        <a title="Report">
          <i class="fa fa-lg fa-fw fa-cogs"></i>
          <span class="menu-item-parent">Setting</span>
        </a>
        <ul>
          <li formflag="SMML1" routerLinkActive="active">
            <a routerLink="/setting/mainmenu-list">Main Menu - Level 1</a>
          </li>
          <li formflag="SSML2" routerLinkActive="active">
            <a routerLink="/setting/submenuL2-list">Sub Menu - Level 2 </a>
          </li>
          <li formflag="SSML3" routerLinkActive="active">
            <a routerLink="/setting/submenuL3-list">Sub Menu - Level 3</a>
          </li>
          <li formflag="SMALL" routerLinkActive="active">
            <a routerLink="/setting/menu-allocation">Menu Allocation</a>
          </li>
        
        </ul>
      </li> -->

       <!--<li>
        <a title="Customer">
          <i class="fa fa-lg fa-fw fa-users"></i>
          <span class="menu-item-parent">Customer</span>
        </a>
        <ul>
          <li  routerLinkActive="active">
            <a routerLink="/customer/customer-master">Customer Master</a>
          </li>
         
        </ul>
      </li>
      <li formflag="DTRAN" style="display: none;">
        <a title="Transaction">
          <i class="fa fa-lg fa-fw fa-truck"></i>
          <span class="menu-item-parent">Transaction</span>
        </a>
        <ul>
          <li formflag="TORDB" routerLinkActive="active">
            <a routerLink="/order/refill-booking-list">Order Booking</a>
          </li>
          <li formflag="TCMRD" routerLinkActive="active">
            <a routerLink="/order/cash-memo-and-refill-delivery">Cash Memo & Refill Delivery</a>
          </li>
          <li formflag="TDORD" routerLinkActive="active">
            <a routerLink="/order/delivered-orders">Delivered Orders</a>
          </li>
          <li formflag="TDCOD" routerLinkActive="active">
            <a routerLink="/order/undelivered-orders">Declined / Cancelled Orders</a>
          </li>
          <li formflag="TIDCH" routerLinkActive="active">
            <a routerLink="/order/instant-delivered-orders">Instant Delivery Challans </a>
          </li>
      
          <li formflag="TDMOS" routerLinkActive="active">
            <a routerLink="/order/delivery-man-wise-refill-order-summary">Delivery Man Wise Refill Order Summary</a>
          </li>
          <li formflag="TAROS" routerLinkActive="active">
            <a routerLink="/order/area-wise-refill-order-summary">Area Wise Refill Order Summary</a>
          </li>
          <li formflag="TCUWT" routerLinkActive="active">
            <a routerLink="/order/customer-wise-transactions">Customer Wise Transactions</a>
          </li>
        </ul>
      </li>
      <li formflag="DCRM" style="display: none;">
        <a title="CRM">
          <i class="fa fa-lg fa-fw fa-cube"></i>
          <span class="menu-item-parent">CRM</span>
        </a>
        <ul>
          <li formflag="CRSNG" routerLinkActive="active">
            <a routerLink="/crm/send-greetings">Send Greetings</a>
          </li>
          <li formflag="CRRSD" routerLinkActive="active">
            <a routerLink="/crm/resend-dac">Resend DAC</a>
          </li>
        </ul>
      </li>
      <li formflag="DFINC" style="display: none;">
        <a title="Finance">
          <i class="fa fa-lg fa-fw fa-inr"></i>
          <span class="menu-item-parent">Finance</span>
        </a>
        <ul>
          <li formflag="FCFPC" routerLinkActive="active">
            <a routerLink="/finance/cash-flow-register">Cash Flow & Payment Collections</a>
          </li>
          <li formflag="FCDPS" routerLinkActive="active">
            <a routerLink="/finance/cheque-and-dd-payment-status-list">Cheque & DD Payment Status</a>
          </li>
          <li formflag="FTPCB" routerLinkActive="active">
            <a routerLink="/finance/transfer-to-petty-cash-and-bank-account">Transfer To Petty Cash & Bank Account</a>
          </li>  
          <li formflag="FPCBD" routerLinkActive="active">
            <a routerLink="/finance/petty-cash-details-list">Petty Cash Details</a>
          </li>  
          <li formflag="FBACD"  routerLinkActive="active">
            <a routerLink="/finance/bank-account-details">Bank Account Details</a>
          </li>  
          <li formflag="FEXPE"  routerLinkActive="active">
            <a routerLink="/finance/expenses-list">Expenses</a>
          </li>  
        </ul>
      </li>
      <li formflag="DSTOK" style="display: none;">
        <a title="Stock">
          <i class="fa fa-lg fa-fw fa-cubes"></i>
          <span class="menu-item-parent">Stock</span>
        </a>
        <ul>
          <li formflag="SSTKO" routerLinkActive="active">
            <a routerLink="/stock/stock-orders-list">Stock Orders</a>
          </li>
       
          <li formflag="SIMBL" routerLinkActive="active">
            <a routerLink="/stock/add-imbalance">Imbalance </a>
           
          </li>
          <li formflag="SSSSP" >
            <a title="Stock">
              <span >Stock SF / SD / POS</span>
            </a>
            <ul class="hidemenu">
              <li formflag="SSODD" routerLinkActive="active">
                <a routerLink="/stock/order-and-dispatch-details">Order & Dispatch Details</a>
              </li>
            
            </ul>
          </li>
          <li formflag="SDSTR" routerLinkActive="active">
            <a routerLink="/stock/daily-stock-register">Daily Stock Register</a>
          </li>
          <li formflag="SCDSR" routerLinkActive="active">
            <a routerLink="/stock/customer-daily-stock-register">Customer Daily Stock Register</a>
          </li>
          <li formflag="SPWOR" routerLinkActive="active">
            <a routerLink="/stock/product-wise-order-report">Product Wise Order Report</a>
          </li>
          <li formflag="SDAYE" routerLinkActive="active">
            <a routerLink="/stock/day-end">Day End</a>
          </li>
        </ul>
      </li>
      <li formflag="DSETG" style="display: none;">
        <a title="Setting">
          <i class="fa fa-lg fa-fw fa-cogs"></i>
          <span class="menu-item-parent">Settings</span>
        </a>
        <ul>
          <li formflag="STPRA" routerLinkActive="active">
            <a routerLink="/settings/price-allocation-list">Price Allocation</a>
          </li> 
          <li formflag="STSPA" routerLinkActive="active" >
            <a routerLink="/settings/sf-sd-price-allocation-list">SF / SD / POS Price Allocation</a>
          </li> 
          <li formflag="STCDA" routerLinkActive="active">
            <a routerLink="/settings/category-wise-discount-allocation-list">Category Wise Discount Allocation List</a>
          </li>
        </ul>
      </li>
       -->
      

      <!-- <li class="top-menu-invisible">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i>
          <span class="menu-item-parent">{{'SmartAdmin Intel' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/smartadmin/app-layouts">
              <i class="fa fa-gear"></i>
              {{'App Layouts' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/smartadmin/prebuilt-skins">
              <i class="fa fa-picture-o"></i>
              {{'Prebuilt Skins' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/outlook" title="Outlook">
          <i class="fa fa-lg fa-fw fa-inbox"></i>
          <span class="menu-item-parent">{{'Outlook' | i18n}}</span>
          <span class="badge pull-right inbox-badge margin-right-13">14</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
          <span class="menu-item-parent">{{'Graphs' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/graphs/flot-charts">{{'Flot Chart' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/graphs/morris-charts">{{'Morris Charts' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/graphs/sparklines">{{'Sparkline' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/graphs/easy-pie-charts">{{'Easy Pie Charts' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/graphs/dygraphs">{{'Dygraphs' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/graphs/chart-js">Chart.js</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/graphs/highchart-tables">Highchart Tables
              <span class="badge pull-right inbox-badge bg-color-yellow">new</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-table"></i>
          <span class="menu-item-parent">{{'Tables' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/normal">{{'Normal Tables' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Data Tables' | i18n}}
              <span class="badge inbox-badge bg-color-greenLight">v1.10</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/ngx-datatable">{{'Ngx Datatable' | i18n}}
              <span class="badge inbox-badge bg-color-redLight">new</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
          <span class="menu-item-parent">{{'Forms' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/forms/elements">{{'Smart Form Elements' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/layouts">{{'Smart Form Layouts' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/validation">{{'Smart Form Validation' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/bootstrap-elements">{{'Bootstrap Form Elements' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/bootstrap-validation">{{'Bootstrap Form Validation' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/plugins">{{'Form Plugins' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/wizards">{{'Wizards' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/editors">{{'Bootstrap Editors' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/dropzone">{{'Dropzone' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/cropper">{{'Image Cropping' | i18n}}
              <span class="badge pull-right inbox-badge bg-color-yellow">new</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-desktop"></i>
          <span class="menu-item-parent">{{'UI Elements' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/ui/general">{{'General Elements' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui/buttons">{{'Buttons' | i18n}}</a>
          </li>
          <li>
            <a href="#">{{'Icons' | i18n}}</a>
            <ul>
              <li routerLinkActive="active">
                <a routerLink="/ui/icons/font-awesome">
                  <i class="fa fa-plane"></i> {{'Font Awesome' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/ui/icons/glyphicons">
                  <i class="glyphicon glyphicon-plane"></i>
                  {{'Glyph Icons' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/ui/icons/flags">
                  <i class="fa fa-flag"></i> {{'Flags' | i18n}}</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui/grid">{{'Grid' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui/tree-views">{{'Tree View' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui/nestable-lists">{{'Nestable Lists' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui/typography">{{'Typography' | i18n}}</a>
          </li>
          <li>
            <a href="#">{{'Six Level Menu' | i18n}}</a>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-fw fa-folder-open"></i> {{'Item #2' | i18n}}</a>
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-folder-open"></i> {{'Sub #2.1' | i18n}} </a>
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa fa-fw fa-file-text"></i> {{'Item#2.1.1' | i18n}}</a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-fw fa-plus"></i>{{'Expand' | i18n}}</a>
                        <ul>
                          <li>
                            <a href="#">
                              <i class="fa fa-fw fa-file-text"></i>
                              {{'File' | i18n}}</a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fa fa-fw fa-trash-o"></i>
                              {{'Delete' | i18n}}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-fw fa-folder-open"></i> {{'Item #3' | i18n}}</a>

                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-folder-open"></i> {{'3ed Level' | i18n}}
                    </a>
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa fa-fw fa-file-text"></i>
                          {{'File' | i18n}}</a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-fw fa-file-text"></i>
                          {{'File' | i18n}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>

              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/widgets" title="Widgets">
          <i class="fa fa-lg fa-fw fa-list-alt"></i>
          <span class="menu-item-parent">{{'Widgets' | i18n}}</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-cloud">
            <em>2</em>
          </i>
          <span class="menu-item-parent">{{'Cool Features' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/calendar" title="Calendar">
              <i class="fa fa-lg fa-fw fa-calendar"></i>
              <span class="menu-item-parent">{{'Calendar' | i18n}}</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/maps">
              <i class="fa fa-lg fa-fw fa-map-marker"></i>
              <span class="menu-item-parent">{{'GMap Skins' | i18n}}</span>
              <span class="badge bg-color-greenLight pull-right inbox-badge">9</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
          <span class="menu-item-parent">{{'App Views' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/app-views/projects">
              <i class="fa fa-file-text-o"></i>
              {{'Projects' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-views/blog">
              <i class="fa fa-paragraph"></i> {{'Blog' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-views/gallery">
              <i class="fa fa-picture-o"></i>
              {{'Gallery' | i18n}}</a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-comments"></i> {{'Forum Layout' | i18n}}</a>
            <ul>
              <li routerLinkActive="active">
                <a routerLink="/app-views/forum/general-view">
                  <i class="fa fa-picture-o"></i>
                  {{'General View' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/app-views/forum/topic-view">
                  <i class="fa fa-picture-o"></i>
                  {{'Topic View' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/app-views/forum/post-view">
                  <i class="fa fa-picture-o"></i>
                  {{'Post View' | i18n}}</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-views/profile">
              <i class="fa fa-group"></i>
              {{'Profile' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-views/timeline">
              <i class="fa fa-clock-o"></i>
              {{'Timeline' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-shopping-cart"></i>
          <span class="menu-item-parent">{{'E-Commerce' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/orders" title="Orders"> {{'Orders' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/products-view" title="Products View"> {{'Products View' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/product-details" title="Products Detail"> {{'Products Detail' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-windows"></i>
          <span class="menu-item-parent">{{'Miscellaneous' | i18n}}</span>
        </a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/pricing-tables">{{'Pricing Tables' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/invoice">{{'Invoice' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/login">{{'Login' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/register">{{'Register' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/forgot-password">{{'Forgot Password' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/locked">{{'Locked Screen' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/error404">{{'Error 404' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/error500">{{'Error 500' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/blank">{{'Blank Page' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/email-template">{{'Email Template' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/search">{{'Search Page' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/miscellaneous/ckeditor">{{'CK Editor' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li aside-chat></li>  -->
    </ul>
  </nav>
  <sa-minify-menu></sa-minify-menu>
</aside>