<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true"
          minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Create GRN</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row">
                  <div class="col-sm-6" *ngIf="project.TranNo!=null" style="font-size:14px;margin-top: 11px;">
                      <label style="margin-right:20px;"><strong>Trans No. : <span class="text-primary">{{project.DispTranNo}}</span></strong></label>
                      <label><strong>Trans Date : <span class="text-primary">{{project.TranDate}}</span></strong></label>
                      </div>
                <div class="col-sm-6" *ngIf="TranExists.length>0">
                  <button type="button" class="btn btn-danger pull-right btn-lg" data-toggle="modal" data-target="#TransactionModal">Access Denied, Next Transaction Exists </button>
                </div>
              </div>
              <form name="transportForm" #transportForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Site <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.SiteId" name="SiteId" (change)="onSelectSite(project.SiteId,'S')"
                        [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Site </option>
                        <option [value]="des.SiteId" *ngFor="let des of SiteData">{{des.SiteName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Project <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.ProjectId" name="ProjectId"
                        (change)="onSelectProject('')" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Project </option>
                        <option [value]="des.ProjectId" *ngFor="let des of ProjectData">{{des.ProjectName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <!-- <div class="col-sm-2">
                    <div class="form-group">
                      <label>GRN No. <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter GRN No. " [(ngModel)]="transport.GRNNo"
                        name="Qty" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div> -->
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Vendor <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.VendorId" name="VendorId"  (change)="onSelectVendor()" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Vendor </option>
                        <option [value]="des.VendorId" *ngFor="let des of VendorData">{{des.VendorName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Select PO <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.RefTranNo" name="RefTranNo"
                        (change)="onSelectProject(project.RefTranNo)" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select PO </option>
                        <option [value]="des.TranNo" *ngFor="let des of POArray">{{des.DispTranNo}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Challan No./Invoice No. <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Challan No. "
                        [(ngModel)]="project.ChallanNo" name="ChallanNo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Challan / Invoice Date <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker
                        [(ngModel)]="project.ChallanDate" name="ChallanDate" id="startDate" onkeydown="return false"
                        bsDatepicker [bsConfig]="datePickerConfig" />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Challan / Invoice Amount <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Challan Amount "
                        [(ngModel)]="project.ChallanAmount" name="ChallanAmount" saCommonDir dirType="decimal"
                        required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Challan GST Amount <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter GST Amount "
                        [(ngModel)]="project.ChallanGSTAmount" name="ChallanGSTAmount" saCommonDir
                        dirType="decimal" required />
                    </div>
                  </div>

                  <!-- <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sel1">Quality Ok <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="transport.RateType" name="RateType" required>
                        <option value="" selected hidden> Select </option>
                        <option value="Y"> Yes </option>
                        <option value="N"> No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sel1">Material Type<span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="transport.MaterialTypeId" name="MaterialTypeId" required>
                        <option value="" selected hidden> Select Type </option>
                        <option value=""> Bricks Work </option>
                        <option value=""> Stone Work </option>
                        <option value=""> Painting </option>
                        <option value=""> lighting </option>
                        <option [value]="des.RoleCode" *ngFor="let des of designationData">{{des.RoleDesc}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="sel1">Material <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="transport.MaterialId" name="MaterialId" required>
                        <option value="" selected hidden> Select Material </option>
                        <option value=""> Soling (Dabar) </option>
                        <option value=""> Back Filling Murum </option>
                        <option value=""> Brickwork For Bench </option>
                        <option value=""> Brick 6" </option>
                        <option value=""> Crush Sand </option>
                        <option value=""> Cement </option>
                        <option value=""> Tera Cota </option>
                        <option value=""> Brickwork For Bench </option>
                        <option [value]="des.RoleCode" *ngFor="let des of designationData">{{des.RoleDesc}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Received Qty <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Qty " [(ngModel)]="transport.Qty"
                        name="Qty" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div> -->

                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr align="center" class="text-center">
                            <th class="text-center">#</th>
                            <th>Material Type</th>
                            <th>Material</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Unit</th>
                            <th class="text-center">Rate</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">IGST %</th>
                            <th class="text-center">SGST %</th>
                            <th class="text-center">CGST %</th>
                            <th class="text-center">IGST Amount</th>
                            <th class="text-center">SGST Amount</th>
                            <th class="text-center">CGST Amount</th>
                            <th class="text-center">Total Amount </th>
                            <th class="text-center">Received Qty<span class="errorMessage">*</span> </th>
                            <th class="text-center">Quality Ok<span class="errorMessage">*</span> </th>
                            <th class="text-center">Rejected Qty<span class="errorMessage">*</span> </th>
                            <th class="text-center">Remark</th>
                            <th class="text-center">Action</th>
                          </tr>

                        </thead>
                        <tbody>
                          <tr *ngFor="let mat of MaterialArray;index as i">
                            <td class="text-center"><span (onload)="check(i)">{{i+1}}.</span></td>
                            <td><strong *ngIf="mat.show">{{mat.TypeName}}</strong></td>
                            <td>{{mat.MatName}}</td>
                            <td class="text-center">{{mat.Qty==0?'':mat.Qty}}</td>
                            <td class="text-center">{{mat.UOM}}</td>
                            <td class="text-center">{{mat.Rate}}</td>
                            <td class="text-center">{{mat.Amount}}</td>
                            <td class="text-center">{{mat.IGST}}</td>
                            <td class="text-center">{{mat.SGST}}</td>
                            <td class="text-center">{{mat.CGST}}</td>
                            <td class="text-center">{{mat.IGSTAmount}}</td>
                            <td class="text-center">{{mat.SGSTAmount}}</td>
                            <td class="text-center">{{mat.CGSTAmount}}</td>
                            <td class="text-center">{{mat.TotalAmount}}</td>

                            <td> <input type="text" class="form-control" style="width: 60px;" placeholder=" Qty "
                                [(ngModel)]="mat.ReceivedQty" #nameControl="ngModel" name="ReceivedQty_{{i}}"
                                (blur)="CompareQTY(i)" required /> </td>
                            <td>
                              <div class="form-group" >
                                <select class="form-control" style="width: 70px;" [(ngModel)]="mat.IsQualityOk" name="IsQualityOk_{{i}}"
                                  required>
                                  <option value="" selected hidden> Select </option>
                                  <option value="Y"> Yes </option>
                                  <option value="N"> No</option>
                                </select>
                              </div>
                            </td>
                            <td> <input type="text" class="form-control" style="width: 60px;" placeholder="Qty "
                              #nameControl="ngModel" [(ngModel)]="mat.RejectedQty" name="RejectedQty_{{i}}" saCommonDir dirType="alphanumeric"
                                required (blur)="CompareQTY(i)"/> </td>
                            <td> <input type="text" class="form-control" style="width: 100px;" placeholder="Remark "
                              #nameControl="ngModel" [(ngModel)]="mat.Remark" name="Remark_{{i}}"  />
                            </td>
                            <td class="text-center">
                              <a class="btn btn-xs btn-danger action-btn" (click)=onRemoveMaterial(mat,i)>Remove</a>
                              <!-- <a class="btn btn-xs btn-primary action-btn" (click)=onEdit(mat,i)>Edit</a> -->
                            </td>
                          </tr>
                          <!-- <tr>
                                <td></td>
                                <td>Brickwork for bench</td>
                                <td class="text-center">65</td>
                                <td class="text-center">Sqft</td>
                                <td  class="text-center">18</td>
                                <td  class="text-center">1170</td>
                                <td  class="text-center">0</td>
                                <td  class="text-center">9</td>
                                <td  class="text-center">9</td>
                                <td  class="text-center">0</td>
                                <td  class="text-center">19</td>
                                <td  class="text-center">19</td>
                                 <td class="text-center">1178</td>
                                 <td>  <input type="text" class="form-control" style="width: 60px;" placeholder=" Qty " [(ngModel)]="transport.Qty"
                                  name="Qty" saCommonDir dirType="alphanumeric" required /> </td>
                                           <td>  <div class="form-group">
                                      <select class="form-control" [(ngModel)]="transport.RateType" name="RateType" required>
                                        <option value="" selected hidden> Select </option>
                                        <option value="Y"> Yes </option>
                                        <option value="N"> No</option>
                                      </select>
                                    </div></td>
                                  <td>  <input type="text" class="form-control" style="width: 60px;" placeholder="Qty " [(ngModel)]="transport.Qty"
                                    name="Qty" saCommonDir dirType="alphanumeric" required /> </td>
                                    <td>  <input type="text" class="form-control" style="width: 100px;" placeholder="Remark " [(ngModel)]="transport.Qty"
                                      name="Remark" saCommonDir dirType="alphanumeric" required /> </td>
                              
                                </tr> -->

                          <tr>
                            <td colspan="6" class="text-right"><strong>TOTAL</strong></td>
                            <td class="text-center"><strong>{{project.TotalAmtCost}}</strong> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center"><strong>{{project.TotIGSTCost}}</strong> </td>
                            <td class="text-center"><strong>{{project.TotSGSTCost}}</strong> </td>
                            <td class="text-center"><strong>{{project.TotCGSTCost}}</strong> </td>
                            <td  class="text-center"><strong>{{project.TotProjectCost}}</strong> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- <div class="col-sm-2">
                  <div class="form-group">
                    <label>Rejected Qty <span class="errorMessage">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Qty " [(ngModel)]="transport.Qty"
                      name="Qty" saCommonDir dirType="alphanumeric" required />
                  </div>
                </div> -->
                  <!-- <div class="col-sm-12">
                  <div class="form-group">
                    <label>Rejected Reason <span class="errorMessage">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Reason " [(ngModel)]="transport.Reason"
                      name="Reason" saCommonDir dirType="alphanumeric" required />
                  </div>
                </div> -->
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Receiving Site <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.ReceivedSiteId" name="ReceivedSiteId"
                        (change)="onSelectSite(project.ReceivedSiteId,'R')" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Receiving Site </option>
                        <option [value]="des.SiteId" *ngFor="let des of ReceivingSiteData">{{des.SiteName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Receiving Location <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.ReceivedProjectId" name="ReceivedProjectId"
                        [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Receiving Location </option>
                        <option [value]="des.ProjectId" *ngFor="let des of ReceivedlocData">{{des.ProjectName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label> Vehicle No. <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Vehicle No."
                        [(ngModel)]="project.VehicleNo" name="VehicleNo" saCommonDir dirType="alphanumeric"
                        required />
                    </div>
                  </div>

                </div>

                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/project/grn-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit"  [disabled]="!loaderbtn || MaterialArray.length==0"  *ngIf="TranExists.length==0">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i>
                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>


<!-- Modal -->
<div class=" modal fade" id="TransactionModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Transaction Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <div class="refill">
              <div class="row">
                         <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Transaction No.</th>
                          <th>Transaction Date</th>
                          <th>Transaction Name</th>
                          <th>Created By</th>
                          <th>Updated By</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pr of TranExists;index as i">
                          <td>{{i+1}}</td>
                          <td>{{pr.DispTranNo}}</td>
                          <td>{{pr.TranDate}}</td>
                          <td>{{pr.TranShortName}}</td>
                         <td >{{pr.CreatedByName}}</td>
                          <td >{{pr.UpdatedByName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       <!-- <button type="button" *ngIf="stock.IsDispatch == 'Y' && stock.OrderStage!='CA' && stock.OrderStage!='RJ'" (click)="DispatchOrder('AC')" class="btn btn-success">Accept</button>
        <button type="button" *ngIf="stock.IsDispatch == 'Y' && stock.OrderStage!='CA' && stock.OrderStage!='RJ'" (click)="DispatchOrder('RJ')" class="btn btn-danger">Reject</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>