<!-- MAIN CONTENT -->
<div id="content">
    <sa-widgets-grid>
      <div class="row">
        <article class="col-sm-12">
          <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
            <header class="text-center">
              <h2>
                <i class="fa fa-table"></i> Menu Allocation</h2>
            </header>
            <div>
              <div class="widget-body">
                <div class="row ">
                    <form name="orderDeliveredForm" #orderDeliveredForm="ngForm" (ngSubmit)="onLoad(DesigId)" autocomplete="off" ngNativeValidate>
                    
                        <div class="col-sm-2">
                          <div class="form-group">
                            <!-- <label for="sel1">Designation <span class="errorMessage">*</span>
                            </label> -->
                            <select class="form-control" [(ngModel)]="DesigId" name="DesigId" required>
                              <option value="" selected hidden> Select Designation </option>
                              <option [value]="des.DesigId" *ngFor="let des of designationData">{{des.DesigName}}
                              </option>
                            </select>
                          </div>
                        </div>
                        
                        <div class="col-sm-1 col-xs-4">
                          <div class="form-group">
                            <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                              <i class="fa fa-fw" [ngClass]="{'fa-search':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Get Details':'Loading'}}</button>
                          </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group  pull-right">
                                <a routerLink="/setting/menu-allocation-details" class="btn btn-block btn-warning ">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Add
                                </a>
                            </div>
                        </div>
                      </form>
                      <div class="col-sm-12 table-responsive">
                        <ui-grid [data]="AllocationData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)"></ui-grid>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </sa-widgets-grid>
  </div>
  